{%- extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1>ShawnJ</h1>
      <p>I am an international student from Nepal. I am building passion towards computer science. I can't change the direction of the wind, but I can adjust my sails to always reach my destination.
          <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/23622226_1655976251126246_1809196128094635415_n.jpg?oh=cf4c1e8cce71449ce6d5c4364097f83b&oe=5B0C637D">
      </p>
    </div>
   </div>

{%- endblock %}